.botoes{
    text-decoration: none;
    background-color: blue;
    color:black;
    padding: 6px;
    border-radius:10px
}
.titulos{
    color: crimson;
    font-weight: 700;
}
.textos{
    color: orangered;
    font-weight: 700;
}
.menu{
    text-decoration: none;
    color: crimson;
    font-weight: 700px
}